 <!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="assets/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->

<!--  <meta http-equiv="refresh" content="3"/> --> <!-- Brukes under utvikling av siden for å refreshe den slik at vi kan se endringer "live" -->

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .center {
    text-align: center;
  }
</style>

</head>
<body>

 

<img src="assets/logo.png" alt="logo"/>

<h1 class="center">JAMVP Bank</h1>
<p class="center">Our bank has gotten a new name, JAMVP :D</p>

<div class=center>
  <button onclick="location.href='pages/login.html';" type="button">Login</button> 
  <button onclick="location.href='pages/registration.html';" type="button">Register</button> 
</div>


<br>

<!--  {%if name %}
    <strong>Hello there user!</strong> It's {{ date.strftime("%A, %d %B, %Y at %X") }}.
{% else %}
    What's your name? Provide it after /hello/ in the URL. This no longer works, i removed this.
{% endif %} -->

<strong>Hello there user!</strong> It's {{ date.strftime("%A, %d %B, %Y at %X") }}.

</body>
</html> 