<!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->
<link rel="stylesheet" type="text/css" href="/header.css">
<!-- 
https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions
 -->

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:600px; 
        text-align:left;
        border-style: solid;  /* solid */
        border-color: rgb(150, 150, 150);  /* 87, 140, 250 */
        background-color:  rgb(173, 173, 173);
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
    }

    .fields {
        padding: 8px;
        display: inline-block;
    }

    body {margin: 0;}

    h1 {text-align: center;}

  /* Page Content */
.body_content {
  position: relative;
  top: 85px;
  left: 0;

  width: 100%;
}
</style>

</head>
<body>
    <div class="header">
        <iframe class="headerObj" src="header.html" title="header"></iframe>
      </div> 
      
      <div class="body_content">

        <h1>Edit information</h1>
    
    <div style='text-align: left; width:500px; display: block; margin-left: auto; margin-right: auto;'>
        <br>
        {% if fname_error or mname_error or lname_error or phone_num_error or dob_error or city_error or postcode_error or address_error or pswd_error or new_pswd_error %}
            {% if fname_error != '' or mname_error != '' or lname_error != '' or phone_num_error != '' or dob_error != '' or city_error != '' or postcode_error != '' or address_error != '' or pswd_error != ''or new_pswd_error != '' %}
                <strong style="color:red;">Something is wrong with the information you have given us:</strong><br><br>
                {% if fname_error == 'invalid' %}
                    <p style="color:red;">Error #1: First name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if mname_error == 'invalid' %}
                    <p style="color:red;">Error #2: Middle name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if lname_error == 'invalid' %}
                    <p style="color:red;">Error #3: Last name is invalid, should consist of letters only.</p>
                {% endif %}

                {% if phone_num_error == 'NaN' %}
                    <p style="color:red;">Error #11: Invalid phone number, should be a number.</p>
                {% endif %}
                {% if dob_error == 'invalid' %}
                    <p style="color:red;">Error #12: Date of birth is invalid, make sure to write it in the same format as the example in the input field.</p>
                {% endif %}

                {% if city_error == 'invalid' %}
                    <p style="color:red;">Error #13: City name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if postcode_error == 'NaN' %}
                    <p style="color:red;">Error #14: Invalid postal code, should be a number.</p>
                {% endif %}
                {% if address_error == 'invalid' %}
                    <p style="color:red;">Error #15: Invalid address, should consist of street name (only letters) and house number, i.e. Haakon VIIs gate 9 or Streetname 3b.</p>
                {% endif %}
                {% if address_error == 'invalidNum' %}
                    <p style="color:red;">Error #16: Invalid house number in address, should be a number, and may contain a letter at the end, i.e. Haakon VIIs gate 9 or Streetname 3b.</p>
                {% endif %}
                {% if pswd_error == 'incorrect' %}
                <p style="color:red;">Error #17: Incorrect password.</p>
                {% endif %}
                {% if new_pswd_error == 'invalid' %}
                <p style="color:red;">Error #18: Invalid password.</p>
                {% endif %}
                {% if new_pswd_error == 'unmatched' %}
                <p style="color:red;">Error #19: The passwords do not match.</p>
                {% endif %}

            
            {% else %}
                <br>
            {% endif %}
        {% endif %}
        <br>
    </div>

    <div>
        <form autocomplete="off"> <!-- Skrur av autocomplete slik at neste person som bruker siden (på samme PC) ikke kan se hva de forrige brukerene har prøvd å skrive inn. -->
            <div class="container">
                <div>
                    <div class="fields">
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" value="{{fname}}"  name="fname" required>
                    </div>

                    <div class="fields">
                        <label for="mname">Middle name:</label><br>
                        <input type="text" id="mname" value="{{mname}}"  name="mname">
                    </div>

                    <div class="fields">
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" value="{{lname}}"  name="lname" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="phone_num">Phone number:</label><br>
                        <input type="text" id="phone_num" value="{{phone_num}}"  name="phone_num" required>
                    </div>

                    <div class="fields">
                        <label for="dob">Date of birth:</label><br>
                        <input type="text" id="dob" value="{{dob}}"  name="dob" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="city">City:</label><br>
                        <input type="text" id="city" value="{{city}}"  name="city" required>
                    </div>

                    <div class="fields">
                        <label for="postcode">Postal code:</label><br>
                        <input type="text" id="postcode" value="{{postcode}}"  name="postcode" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="address">Address:</label><br>
                        <input type="text" id="address" value="{{address}}"  name="address" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="pswd">Current password:</label><br>
                        <input type="password" id="pswd" placeholder="Current password"  name="pswd" required>
                    </div>

                    <div class="fields">
                        <label for="auth">Authenticator code:</label><br>
                        <input type="text" id="auth" placeholder="Authenticator code"  name="auth">
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="new_pswd">New password:</label><br>
                        <input type="password" id="new_pswd" placeholder="New password"  name="new_pswd">
                    </div>

                    <div class="fields">
                        <label for="new_pswd2">Confirm new password:</label><br>
                        <input type="password" id="new_pswd2" placeholder="Confirm new password"  name="new_pswd2">
                    </div>
                </div>

                <br>
                <button type=submit formaction="../edit_data" formmethod="post">Submit edits</button>
                <br>
            </div>
        </form> 
        <br><br>
    </div>
</div>
</body>
</html> 