<!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="../assets/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->

<!-- 
https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions
 -->

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:500px; 
        text-align:left;
        border-style: solid;  /* solid */
        border-color: rgb(150, 150, 150);  /* 87, 140, 250 */
        background-color:  rgb(173, 173, 173);
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
    }

    .fields {
        padding: 8px;
        display: inline-block;
    }
</style>

</head>
<body>
    <img src="../assets/logo.png" alt="logo"/>
    
    <div style='text-align: left; width:500px; display: block; margin-left: auto; margin-right: auto;'>
        <br>
        {% if fname or mname or lname or email or uid or phone_num or dob or city or postcode or address %}
            {% if fname != '' or mname != '' or lname != '' or email != '' or uid != '' or phone_num != '' or dob != '' or city != '' or postcode != '' or address != '' %}
                <strong style="color:red;">Something is wrong with the information you have given us:</strong><br><br>
                {% if fname == 'invalid' %}
                    <p style="color:red;">Error #1: First name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if mname == 'invalid' %}
                    <p style="color:red;">Error #2: Middle name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if lname == 'invalid' %}
                    <p style="color:red;">Error #3: Last name is invalid, should consist of letters only.</p>
                {% endif %}

                {% if email == 'NaN' %}
                    <p style="color:red;">Error #4: The text in front of @ in the email address is not a number.</p>
                {% endif %}
                {% if email == 'invalidLength' %}
                    <p style="color:red;">Error #5: The text in front of @ in the email address should consist of 6 to 7 digits.</p>
                {% endif %}
                {% if email == 'mismatch' %}
                    <p style="color:red;">Error #6: The text in front of @ in the email address does not match the user identification.</p>
                {% endif %}
                {% if email == 'invalid' %}
                    <p style="color:red;">Error #7: The domain (the text behind @) in the email address is invalid, should be: uis.no</p>
                {% endif %}
                {% if id == 'mismatch' %}
                    <p style="color:red;">Error #8: User identification does not match the text in front of @ in the email address.</p>
                {% endif %}
                {% if id == 'NaN' %}
                    <p style="color:red;">Error #9: Invalid user identification, should be a number.</p>
                {% endif %}
                {% if id == 'invalidLength' %}
                    <p style="color:red;">Error #10: Invalid user identification, should consist of 6 to 7 digits.</p>
                {% endif %}
                
                {% if phone_num == 'NaN' %}
                    <p style="color:red;">Error #11: Invalid phone number, should be a number.</p>
                {% endif %}
                {% if dob == 'invalid' %}
                    <p style="color:red;">Error #12: Date of birth is invalid, make sure to write it in the same format as the example in the input field.</p>
                {% endif %}

                {% if city == 'invalid' %}
                    <p style="color:red;">Error #13: City name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if postcode == 'NaN' %}
                    <p style="color:red;">Error #14: Invalid postal code, should be a number.</p>
                {% endif %}
                {% if address == 'invalid' %}
                    <p style="color:red;">Error #15: Invalid address, should consist of street name (only letters) and house number, i.e. Haakon VIIs gate 9 or Streetname 3b.</p>
                {% endif %}
                {% if address == 'invalidNum' %}
                    <p style="color:red;">Error #16: Invalid house number in address, should be a number, and may contain a letter at the end, i.e. Haakon VIIs gate 9 or Streetname 3b.</p>
                {% endif %}

            
            {% else %}
                <br>
            {% endif %}
        {% endif %}
        <br>
    </div>

    <div>
        <form autocomplete="off"> <!-- Skrur av autocomplete slik at neste person som bruker siden (på samme PC) ikke kan se hva de forrige brukerene har prøvd å skrive inn. -->
            <div class="container">
                <div>
                    <div class="fields">
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" placeholder="First"  name="fname" required>
                    </div>

                    <div class="fields">
                        <label for="mname">Middle name:</label><br>
                        <input type="text" id="mname" placeholder="Middle"  name="mname" required>
                    </div>

                    <div class="fields">
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" placeholder="Last"  name="lname" required>
                    </div>
                </div>


                <!-- Verifisering for å kunne skifte epost/ID? Skal man egentlig kunne skifte epost/ID? -->
                <div>
                    <div class="fields">
                        <label for="email">E-mail:</label><br>
                        <input type="email" id="email" placeholder="Identification@uis.no"  name="email" required>
                    </div>

                    <div class="fields">
                        <label for="id">User Identification:</label><br>
                        <input type="text" id="mname" placeholder="Identification"  name="id" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="phone_num">Phone number:</label><br>
                        <input type="text" id="phone_num" placeholder="Phone number"  name="phone_num" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="dob">Date of birth:</label><br>
                        <input type="text" id="dob" placeholder="dd-mm-yyyy"  name="dob" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="city">City:</label><br>
                        <input type="text" id="city" placeholder="City"  name="city" required>
                    </div>

                    <div class="fields">
                        <label for="postcode">Postal code:</label><br>
                        <input type="text" id="postcode" placeholder="Postal Code"  name="postcode" required>
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="address">Address:</label><br>
                        <input type="text" id="address" placeholder="Address"  name="address" required>
                    </div>
                </div>

                <br>
                <button type=submit formaction="../edit_data" formmethod="post">Submit edits</button>
                <br>
            </div>
        </form> 
    </div>
</body>
</html> 