<!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->
<link rel="stylesheet" type="text/css" href="/header.css">
<!-- 
https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions
 -->

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:600px; 
        text-align: left;
        border-style: solid;  /* solid */
        border-color: #f8f6f6;  /* 87, 140, 250 */
        background-color:  #f8f6f6;
    }
    .imgborder {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;        
        border-style: double;
        border-color: #5077bd; 
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .fields {
        padding: 1.25%;
        width:30%; 
        display: inline-block;
        border: 1px  none rgb(255, 255, 255); 
    }

    #address_field {
        padding: 1.25%;
        width:63.3%; 
        display: inline-block;
        border: 1px  none rgb(255, 255, 255); 
    }
    
    input {
        width:100%; 
    }

    body {margin: 0;}

  /* Page Content */
.body_content {
  position: relative;
  top: 85px;
  left: 0;

  width: 100%;
}
</style>

</head>
<body>
    <div class="header">
        <iframe class="headerObj" src="header.html" title="header"></iframe>
      </div> 
      
      <div class="body_content">
    <img src="/logo.png" alt="logo"/>
    
    <div style='text-align: left; width:500px; display: block; margin-left: auto; margin-right: auto;'>
        <br>
        {% if fname_error is not none and mname_error is not none and lname_error is not none and email_error is not none and id_error is not none and phone_num_error is not none and dob_error is not none and city_error is not none and postcode_error is not none and address_error is not none %}
            {% if fname_error != '' or mname_error != '' or lname_error != '' or email_error != '' or id_error != '' or phone_num_error != '' or dob_error != '' or city_error != '' or postcode_error != '' or address_error != '' %}
                <strong style="color:red;">Something is wrong with the information you have given us:</strong><br><br>
                {% if fname_error == 'invalid' %}
                    <p style="color:red;">Error #1: First name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if mname_error == 'invalid' %}
                    <p style="color:red;">Error #2: Middle name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if lname_error == 'invalid' %}
                    <p style="color:red;">Error #3: Last name is invalid, should consist of letters only.</p>
                {% endif %}

                {% if email_error == 'NaN' %}
                    <p style="color:red;">Error #4: The text in front of @ in the email address is not a number.</p>
                {% endif %}
                {% if email_error == 'invalidLength' %}
                    <p style="color:red;">Error #5: The text in front of @ in the email address should consist of 6 to 7 digits.</p>
                {% endif %}
                {% if email_error == 'mismatch' %}
                    <p style="color:red;">Error #6: The text in front of @ in the email address does not match the user identification.</p>
                {% endif %}
                {% if email_error == 'invalid' %}
                    <p style="color:red;">Error #7: The domain (the text behind @) in the email address is invalid, should be: uis.no</p>
                {% endif %}
                {% if id_error == 'mismatch' %}
                    <p style="color:red;">Error #8: User identification does not match the text in front of @ in the email address.</p>
                {% endif %}
                {% if id_error == 'NaN' %}
                    <p style="color:red;">Error #9: Invalid user identification, should be a number.</p>
                {% endif %}
                {% if id_error == 'invalidLength' %}
                    <p style="color:red;">Error #10: Invalid user identification, should consist of 6 to 7 digits.</p>
                {% endif %}
                
                {% if phone_num_error == 'NaN' %}
                    <p style="color:red;">Error #11: Invalid phone number, should be a number.</p>
                {% endif %}
                {% if dob_error == 'invalid' %}
                    <p style="color:red;">Error #12: Date of birth is invalid, make sure to write it in the same format as the example in the input field.</p>
                {% endif %}

                {% if city_error == 'invalid' %}
                    <p style="color:red;">Error #13: City name is invalid, should consist of letters only.</p>
                {% endif %}
                {% if postcode_error == 'NaN' %}
                    <p style="color:red;">Error #14: Invalid postal code, should be a number.</p>
                {% endif %}
                {% if address_error == 'invalid' %}
                    <p style="color:red;">Error #15: Invalid address, should consist of street name (only letters) and house number, i.e. Haakon VIIs gate 9 or Streetname 3b.</p>
                {% endif %}
                {% if address_error == 'invalidNum' %}
                    <p style="color:red;">Error #16: Invalid house number in address, should be a number, and may contain a letter at the end, i.e. Haakon VIIs gate 9 or Streetname 3b.</p>
                {% endif %}
            
            {% else %}
                <br>
            {% endif %}
            {% endif %}
        <br>
    </div>

    <div>
        <form autocomplete="off"> <!-- Skrur av autocomplete slik at neste person som bruker siden (på samme PC) ikke kan se hva de forrige brukerene har prøvd å skrive inn. -->
            <div class="container">
                <div>
                    <div class="fields">
                        <label for="fname">First name:</label><br>
                        {% if fname == none %}
                        <input type="text" id="fname" placeholder="First name" name="fname" required>
                        {% else %}
                        <input type="text" id="fname" value="{{fname}}" name="fname" required>
                        {% endif %}
                    </div>

                    <div class="fields">
                        <label for="mname">Middle name:</label><br>
                        {% if mname == none %}
                        <input type="text" id="mname" placeholder="Middle name" name="mname">
                        {% else %}
                        <input type="text" id="mname" value="{{mname}}" name="mname">
                        {% endif %}
                    </div>

                    <div class="fields">
                        <label for="lname">Last name:</label><br>
                        {% if lname == none %}
                        <input type="text" id="lname" placeholder="Last name" name="lname" required>
                        {% else %}
                        <input type="text" id="lname" value="{{lname}}" name="lname" required>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="email">E-mail:</label><br>
                        {% if email == none %}
                        <input type="email" id="email" placeholder="Identification@uis.no" name="email" required>
                        {% else %}
                        <input type="email" id="email" value="{{email}}" name="email" required>
                        {% endif %}
                        
                    </div>

                    <div class="fields">
                        <label for="id">User Identification:</label><br>
                        {% if id == none %}
                        <input type="text" id="id" placeholder="Student ID / Employee ID" name="id" required>
                        {% else %}
                        <input type="text" id="id" value="{{id}}" name="id" required>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="phone_num">Phone number:</label><br>
                        {% if phone_num == none %}
                        <input type="text" id="phone_num" placeholder="Phone number" name="phone_num" required>
                        {% else %}
                        <input type="text" id="phone_num" value="{{phone_num}}" name="phone_num" required>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="dob">Date of birth:</label><br>
                        {% if dob == none %}
                        <input type="text" id="dob" placeholder="dd-mm-yyyy" name="dob" required>
                        {% else %}
                        <input type="text" id="dob" value="{{dob}}" name="dob" required>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <div class="fields">
                        <label for="city">City:</label><br>
                        {% if city == none %}
                        <input type="text" id="city" placeholder="City" name="city" required>
                        {% else %}
                        <input type="text" id="city" value="{{city}}" name="city" required>
                        {% endif %}
                    </div>

                    <div class="fields">
                        <label for="postcode">Postal code:</label><br>
                        {% if postcode == none %}
                        <input type="text" id="postcode" placeholder="Postal Code" name="postcode" required>
                        {% else %}
                        <input type="text" id="postcode" value="{{postcode}}" name="postcode" required>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <div class="fields" id="address_field">
                        <label for="address">Address:</label><br>
                        {% if address == none %}
                        <input type="text" id="address" placeholder="Address" name="address" required>
                        {% else %}
                        <input type="text" id="address" value="{{address}}" name="address" required>
                        {% endif %}
                    </div>
                </div>

                <div class="fields" id="address_field"> 
                    <label for="captcha_input">Type in what you see in the image below:</label><br>
                    <input type="text" id="captcha_input" placeholder="Captcha"  name="captcha_input">
                </div>
                <br><br>

<!-- 
                <div class="imgborder">
                    <img src="/Captcha.png" alt="Captcha Image">
                </div>
                <br>
 -->

                <button onclick="location.href='/registration.html';" type="button">Refresh Page/Captcha(?)</button><br><br>

                <button type=submit formaction="../registration_data" formmethod="post">Register</button>
                <br>
            </div>
        </form> 
    </div>
</div>
</body>
</html> 