<!DOCTYPE html>
<html>
<head>
<title> JAMVP bank</title>
<link rel="icon" type="image/ico" href="../assets/favicon.ico"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->

<!--  <meta http-equiv="refresh" content="3"/> --> <!-- Brukes under utvikling av siden for å refreshe den slik at vi kan se endringer "live" -->
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    
    .center {
        text-align: center;
    }
    
    </style>
</head>

<body>
    <!-- her har jeg (prøvd) å laget en betalingsgreie, men dette blir ikke i et table fordi jeg fant ikke ut av hvordan man gjør det, og den mangler en knapp -->
<div class="container">
    <form action="action_page.php" method="post">
        <div>
        <img src="../assets/DNB_ASA_logo.svg" alt="Logo" class="logo"> <br /> <!-- to punktum i starten betyr at en skal gå en mappe tilbake i strukturen --> 
        </div> 

        <div>
            <label for="bfra"><b> Betale fra: </b></label>
            <input type="text" name="bfra" required> <br /> <br />
        </div>

        <div>
            <label for="btil"><b> Betale til:</b></label>
            <input type="text" name="btil" required> <br /> <br />
        </div>

        <div>
            <label for="bfra"><b> KID nr: </b></label>
            <input type="text" name="KIDnr" required> <br /> <br />
        </div>

        <div>
            <label for="belop"><b> Beløp: </b></label>
            <input type="text" name="belop" required> <br /> <br />
        </div>


    </form> 
</div>

<!--prøvde å lage et table for enkel betaling men fant ikke ut av hvordan jeg hadde kunnet få input her-->
<table style="width:50%">
    <caption>Enkel betaling</caption>
    <tr>
        <th>Betale fra</th>
        <th>Betale til</th>
        <th>KID nummer</th>
        <th>Beløp (kr)</th>
    </tr>
    <tr>
        <td><input type="text" placeholder="kontonummer" name="account_num" required></td>
        <td></td>
        <td>12</td>
        <td>100</td>
    </tr>
</table>

<!--Logg, vet ikke hvordan jeg skal få denne til  å faktisk logge ting-->
<table style="width:50%">
    <caption>Betalingsoversikt</caption>
    <tr>
        <th>Dato</th>
        <th>Fra</th>
        <th>Til</th>
        <th>Beløp (kr)</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>20.09.2020</td>
        <td>brukskonto</td>
        <td> UiS </td>
        <td>100</td>
        <td>Betalt</td>
    </tr>
</table>

<!-- oversikt over alle kontoene, vet heller ikke hvordan jeg skal oppdatere denne og sånt -->
<table style="width:50%">
    <caption>Mine kontoer</caption>
    <tr>
        <th>Navn</th>
        <th>Kontonummer</th>
        <th>Saldo</th>
    </tr>

    <tr>
        <td>Brukskonto</td>
        <td>1234.12.12345 </td> <!-- burde vel ha et tilfeldig generert kontonr-->
        <td>1000</td>
    </tr>

    <tr>
        <td>Sparekonto</td>
        <td>3948.38.09374 </td> <!-- burde vel ha et tilfeldig generert kontonr-->
        <td>79000</td>
    </tr>
</table>
</body>
</html>