<!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="../assets/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->

<!--  <meta http-equiv="refresh" content="3"/> --> <!-- Brukes under utvikling av siden for å refreshe den slik at vi kan se endringer "live" -->

<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.center {
    text-align: center;
}

</style>

</head>
<body>


<img src="../assets/logo.png" alt="logo"/>

<h1 class="center">JAMVP Bank</h1>
<p class="center">This is your page, here you can see you holdings and transfer money.</p>

</body>
</html> 