<!DOCTYPE html>
<html>
    <head>
        <title>JAMVP Bank</title>
        <link rel="icon" type="image/png" href="/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->
        <link rel="stylesheet" type="text/css" href="/header_int.css">

        {% if logged_in %}
        <script>
            setTimeout(function() { alert("Your session is about to expire due to inactivity. Time remaining of the session after this window popped up is: {{session_remaining}} minutes"); }, {{session_duration}});
        </script>
        {% endif %}
    </head>
    <body onload="startCount()">
        <img src = "/logo_no_white2.png" alt="preloaded_image" style="display: none;"/>
        <div class=left>
            <div id="HomeBtn" onclick="window.open('/', '_top')"> <!-- _top gjør at det ikke er iframe'en som laster inn siden, men selve hoved vinduet -->
                <span id="HomeBtnText">JAMVP Bank</span>
                <img src="/logo_no_white.png" id="HomeBtnLogo" alt="logo"/>
            </div>
        </div>

        {% if logged_in %}
        <div class= middle>
            <div id="Din_sideBtn" onclick="window.open('/din_side.html','_top')">
                <div id="Yourpagebtn_content">
                    <span id="YourPageBtntext">Your page</span>
                    <img src="/person.png" id="YourpageBtnLogo" alt="pf image"/>
                </div>
            </div>
        </div>

        <div class=right>
            <div id="User_info">
                <span id="User_info_text">Name: {{fname}} {{mname}} {{lname}}</span><br>
                <span id="User_info_text">User ID: {{id}}</span>
            </div>
            <div id="LogoutBtn_container" onclick="window.open('/logout', '_top')">
                <div id="LogoutBtn_content"> <!-- _top gjør at det ikke er iframe'en som laster inn siden, men selve hoved vinduet -->
                    <img src="/logout.png" id="LogoutBtnLogo" alt="logout image"/>
                    <span id="LogoutBtnText">Log Out</span>
                </div>
            </div>
            
        </div>        
        
        {% endif %}
    </body>
</html> 