<!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="assets/favicon.png"> <!-- Bilde som vises ved siden av tittelen i fanen, det kalles for favicon -->
<link rel="stylesheet" type="text/css" href="styles\header_int.css">
<link rel="prefetch" href="../assets/logo_no_white2.png">

</head>
    <body>
        <div class=right>
            <div id="HomeBtn" onclick="window.open('/', '_top')"> <!-- _top gjør at det ikke er iframe'en som laster inn siden, men selve hoved vinduet -->
                <span id="HomeBtnText">JAMVP Bank</span>
                <img src="assets/logo_no_white.png" id="HomeBtnLogo" alt="logo"/>
            </div>
        </div>

        {% if logged_in %}
        <div class=left>
            <div id="User_info">
                <span id="User_info_text">Name: {{fname}} {{mname}} {{lname}}</span><br>
                <span id="User_info_text">User ID: {{id}}</span>
            </div>
            <div id="LogoutBtn_container" onclick="window.open('/logout', '_top')">
                <div id="LogoutBtn_content"> <!-- _top gjør at det ikke er iframe'en som laster inn siden, men selve hoved vinduet -->
                    <img src="assets/logout.png" id="LogoutBtnLogo" alt="logout image"/>
                    <span id="LogoutBtnText">Log Out</span>
                    <!-- <img src="assets/logo_no_white.png" id="HomeBtnLogo" alt="logo"/>  -->
                </div>
        </div>
            
        </div>        
        
        {% endif %}
    </body>
</html> 