 <!DOCTYPE html>
<html>
<head>
<title>JAMVP Bank</title>
<link rel="icon" type="image/png" href="assets/favicon.png">

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .center {
    text-align: center;
  }
</style>

</head>
<body>

 

<img src="assets/logo.png" alt="logo"/>

<h1 class="center">JAMVP Bank</h1>
<p class="center">Our bank has gotten a new name, JAMVP :D</p>

<div class=center>
  <button onclick="location.href='pages/login.html';" type="button">Login</button> 
  <button onclick="location.href='pages/registration.html';" type="button">Register</button> 
</div>


<br>



</body>
</html> 