body {
    margin: 0;
    padding: 0px;
    }

    #HomeBtn {
        display: inline-block;
        height: 60px;
        padding: 0px;
    
        border-radius: 15px;
        border: 1px  solid rgb(255, 255, 255);   
        background-color: #084A83;
    
        font-size: 26px;
        color: white;
    }

    #HomeBtn:hover {
        background-color: #5077bd;
    }

    #Din_sideBtn {
        position: relative;
        height: 60px;
        padding: 0px;
    
        background-color: #084A83;
    
        border-radius: 15px;
        border: 1px  solid rgb(255, 255, 255);
        background-color: #084A83;
    
        font-size: 26px;
        color: white;
    
    }

    #Din_sideBtn:hover {
        background-color: #5077bd;
    }

    #Din_sideLogo{
        vertical-align: middle;
        width: 50px; 
        height: 50px;
        padding: 5px;
        background: url(/person.png);
    }

    #Yourpagebtn_content{
        height: 100%;
        width: 100%;
        padding: 0px;
    
        background-color: Transparent;

        border: 1px  solid none;   
    
        font-size: 26px;
        color: white;
    }

    #LogoutBtn_content {
        height: 100%;
        width: 100%;
        padding: 0px;
    
        background-color: Transparent;

        border: 1px  solid none;   
    
        font-size: 16px;
        color: white;
    }

    #LogoutBtn_container:hover {
        background-color: #5077bd;
    }

    #LogoutBtn_container {
        position: absolute;
        top: 8px;
        right: 5px;
        height: 34px;
        padding: 5px;

        background-color: #084A83;
    
        border-radius: 15px;
        border: 1px  solid rgb(255, 255, 255);   
    
    }

    #HomeBtnLogo {
        vertical-align: middle;
        width: 50px; 
        height: 50px;
        padding: 5px;
        background: url(/logo_no_white.png);
    }

    #HomeBtn:hover > #HomeBtnLogo {
        width:0px; 
        height:0px; 
        padding: 30px; 
        background: url(/logo_no_white2.png);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 50px 50px;
    }

    #HomeBtnText {
        vertical-align: middle;
        padding: 5px;
    }
    
    #LogoutBtnLogo {
        vertical-align: middle;
        padding: 5px;
        border: 1px  none;   
        vertical-align: middle;
    }

    #LogoutBtnText {
        vertical-align: middle;
        padding:5px;
    }

    #YourPageBtntext{
        vertical-align: middle;
    }

#User_info {
    position: absolute;
    display: inline-block;
    height: 60px;

    /*width: 360px;*/
    right: 120px;

    font-size: 20px;
    color: white;

    border: 1px  none;   
}

#User_info_text {
    vertical-align: middle;
}



.left {
    border: 1px  none;   
    position: absolute;
    width: 250px;
    padding: 0px;
    top: 5px;
    left: 5px;
}

.middle{
    border: 1px  none;
    position: absolute;
    width: 200px;
    padding: 0px;
    right: calc(50% - 100px);
    /*left: 255px;*/
    top: 5px;
}
.right {
    border: 1px  none;   
    position: absolute;
    width: 600px;
    padding: 0px;
    top: 5px;
    right: 5px;
}