<p>Hello {{fname}} {{mname}} {{lname}}</p>

<p>You or someone else has requested a new account at JAMVP Bank.</p>
<p>If you made this request, then please click <a href={{link}}><strong>this link</strong></a> to verify your account.</p>
<p>If you did not make this request, then you can simply ignore this email.</p>
<!-- <br>
<table style='text-align: center; margin-left: auto; margin-right: auto; border-style: solid; border-collapse: collapse; border: 1px solid black;'>
    <tr>
        <th style='border-style: solid; border-collapse: collapse; border: 1px solid black; width: 240px;'>Username</th>
        <th style='border-style: solid; border-collapse: collapse; border: 1px solid black; width: 240px;'>Temporary password</th>
    </tr>
    <tr>
        <td style='border-style: solid; border-collapse: collapse; border: 1px solid black; width: 240px;'><strong>{{uid}}</strong></td>
        <td style='border-style: solid; border-collapse: collapse; border: 1px solid black; width: 240px;'><strong>{{password}}</strong></td>
    </tr>
</table>
<p>The temporary password is used at first sign in, and must be changed at that time.</p>
-->